<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include include/head-meta.html %>
<% include include/head-css.html %>
</head>
<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll">
<!-- include : page-header -->
<% include include/page-header.html %>
<!-- //include : page-header -->

	<!-- main-container -->
	
	<!-- //main-container -->

	<!-- include : page-footer -->
	<% include include/page-footer.html %>
	<!-- //include : page-footer -->
</div>

<!-- include : floor-js -->
<% include include/floor-js.html %>
<!-- //include : floor-js -->

<script type="text/javascript">
	$(function () {
		 

	});
</script>
</body>
</html>
