<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include include/head-meta.html %>
<% include include/head-css.html %>
</head>

<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll">
<!-- include : page-header -->
<% include include/page-header.html %>
<!-- //include : page-header -->

	<!-- main-container -->
	<main id="main-container">
		<!-- Page Header -->
		<!-- You can use the .hidden-print class to hide an element in printing -->
		<div class="content bg-gray-lighter hidden-print">
			<div class="row items-push">
				<div class="col-sm-7">
					<h1 class="page-heading">
						급여명세서 <small>Clean and professional design.</small>
					</h1>
				</div>
				<div class="col-sm-5 text-right hidden-xs">
					<ol class="breadcrumb push-10-t">
						<li>Generic</li>
						<li><a class="link-effect" href="">Invoice</a></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- END Page Header -->

		<!-- Page Content -->
		<div class="content">
			<div class="row">
				<div class="col-sm-3 col-lg-2">
					<!-- Email Center Widget -->
					<div class="block block-bordered">
						<div class="list-group">
							<a class="list-group-item active" href="javascript:void(0)">
								<span class="badge">3</span>
								<i class="fa fa-fw fa-inbox push-5-r"></i> Inbox
							</a>
							<a class="list-group-item" href="javascript:void(0)">
								<i class="fa fa-fw fa-send push-5-r"></i> Sent
							</a>
							<a class="list-group-item" href="javascript:void(0)">
								<i class="fa fa-fw fa-edit push-5-r"></i> Drafts
							</a>
							<a class="list-group-item" href="javascript:void(0)">
								<i class="fa fa-fw fa-archive push-5-r"></i> Archive
							</a>
							<a class="list-group-item" href="javascript:void(0)">
								<i class="fa fa-fw fa-trash push-5-r"></i> Trash
							</a>
						</div>
					</div>
					<!-- END Email Center Widget -->
				</div>
				<div class="col-sm-9 col-lg-10">
					<div class="block">
						<div class="block-header">
							<ul class="block-options">
								<li>
									<!-- Print Page functionality is initialized in App() -> uiHelperPrint() -->
									<button type="button" onclick="App.initHelper('print-page');"><i class="si si-printer"></i> Print</button>
								</li>
								<li>
									<button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
								</li>
								<li>
									<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
								</li>
							</ul>
							<h3 class="block-title">#PAY0625</h3>
						</div>
						<div class="block-content block-content-narrow">
							<div class="h1 text-center push-30-t push-30 hidden-print">급여명세서</div>
							<hr class="hidden-print">
							<div class="push-50">
								<p class="h2 font-w400 push-5">홍길동</p>	
								<p class="push-5">엔비즈 10월분 [ <small>2015-11-10</small> ]</p>	
							</div>

							<div class="row">
								<div class="col-sm-6">					
									<h3 class="block-title push-10">지급내역</h3>
									<table class="table border-b">
										<tbody>
											<tr>
												<td>기본급</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>인센티브</td>
												<td class="text-right">20,000원</td>
											</tr>
										</tbody>
									</table>					
								</div>

								<div class="col-sm-6">
									<h3 class="block-title push-10">공제내역</h3>
									<table class="table border-b">
										<tbody>
											<tr>
												<td>소득세</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>주민세</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>국민연금</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>건강보험</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>고용보험</td>
												<td class="text-right">20,000원</td>
											</tr>
											<tr>
												<td>기타</td>
												<td class="text-right">20,000원</td>
											</tr>
										</tbody>
									</table>									
								</div>
							</div>

							<div class="push-50">
								<table class="table border-b">
									<tbody>
										<tr class="active">
											<td class="font-w700 text-uppercase">지급총액</td>
											<td class="font-w700 text-right">20,000원</td>
										</tr>
										<tr class="active">
											<td class="font-w700 text-uppercase">공제총액</td>
											<td class="font-w700 text-right">20,000원</td>
										</tr>
										<tr class="active">
											<td class="font-w700 text-uppercase">최종 지급액</td>
											<td class="font-w700 text-right">20,000원</td>
										</tr>
									</tbody>
								</table>				
							</div>
							<!-- END Invoice Info -->

							<!-- Footer -->
							<hr class="hidden-print">
							<p class="text-muted text-center"><small>수고 많으셨습니다. 고맙습니다.</small></p>
							<!-- END Footer -->
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="content content-boxed">
			<!-- Invoice -->
			
			<!-- END Invoice -->
		</div>
		<!-- END Page Content -->
	</main>
	<!-- //main-container -->

    <!-- include : page-footer -->
    <% include include/page-footer.html %>
    <!-- //include : page-footer -->
</div>

<!-- include : floor-js -->
<% include include/floor-js.html %>
<!-- //include : floor-js -->
</body>
</html>