<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include include/head-meta.html %>
<% include include/head-css.html %>
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
</head>
<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll">
<!-- include : page-header -->
<% include include/page-header.html %>
<!-- //include : page-header -->

	<!-- main-container -->
	<main id="main-container">
		<!-- Page Header -->
		<div class="content bg-gray-lighter">
			<div class="row items-push">
				<div class="col-sm-7">
					<h1 class="page-heading">
						Task <small>Mobile friendly tables that work across all screen sizes.</small>
					</h1>
				</div>
				<div class="col-sm-5 text-right hidden-xs">
					<ol class="breadcrumb push-10-t">
						<li>Tables</li>
						<li><a class="link-effect" href="">Responsive</a></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- END Page Header -->

		<!-- Page Content -->
		<div class="content">
			<!-- Partial Table -->
			<div class="block-content block-content-full">
				<div class="row">
					<div class="pull-right">
						<button class="btn btn-primary" data-toggle="modal" data-target="#modal-large" type="button">업무추가</button>
					</div>
					<div class="pull-left">
						<div class="btn-group">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
								<i class="fa fa-download"></i> Export
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a tabindex="-1" href="javascript:void(0)">
										<i class="fa fa-print"></i> Print
									</a>
								</li>
								<li>
									<a tabindex="-1" href="javascript:void(0)">
										<i class="fa fa-file-pdf-o"></i> PDF
									</a>
								</li>
								<li>
									<a tabindex="-1" href="javascript:void(0)">
										<i class="fa fa-file-excel-o"></i> Excel
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="block-content">
					<table class="table table-hover table-bordered table-condensed table-vcenter text-center js-dataTable-full">
						<thead>
							<tr>
								<th class="text-center" style="width:75px"><i class="si si-user"></i></th>
								<th class="text-center hidden-xs" style="width:95px">분류</th>
								<th class="text-center hidden-xs" style="width:95px">타입</th>
								<th class="text-center hidden-xs" style="width:115px">상태</th>
								<th class="text-center">업무내용</th>
								<th class="text-center">Time</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-gp">GP</span></td>
								<td class="hidden-xs"><span class="label label-bc">BC</span></td>
								<td class="hidden-xs"><span class="label label-open">OPEN</span> <span class="label label-open">대기</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										1.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-gg">GG</span></td>
								<td class="hidden-xs"><span class="label label-bc">BC</span></td>
								<td class="hidden-xs"><span class="label label-reopen">REOPEN</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										2.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-progress">IN PROGRESS</span></td>								
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										3.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-resolved">RESOLVED</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										4.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-closed">CLOSED</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										5.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-etc">ETC</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										6.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-gp">GP</span></td>
								<td class="hidden-xs"><span class="label label-bc">BC</span></td>
								<td class="hidden-xs"><span class="label label-open">OPEN</span> <span class="label label-open">대기</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										1.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-gg">GG</span></td>
								<td class="hidden-xs"><span class="label label-bc">BC</span></td>
								<td class="hidden-xs"><span class="label label-reopen">REOPEN</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										2.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-progress">IN PROGRESS</span></td>								
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										3.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-resolved">RESOLVED</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										4.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-closed">CLOSED</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										5.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<img class="img-avatar img-avatar32" src="/img/avatars/avatar1.jpg" alt="">
								</td>
								<td class="hidden-xs"><span class="label label-g9p">G9P</span></td>
								<td class="hidden-xs"><span class="label label-dr">DR</span></td>
								<td class="hidden-xs"><span class="label label-etc">ETC</span></td>
								<td class="font-w600 text-left">
									<a href="https://jira.ebaykorea.com/browse/WPR-1004">
										6.WPR-1004
										<span class="hidden-xs">[글로벌]장바구니>해외배송비 프로모션 배너노출 요청</span>
									</a>
								</td>
								<td>1.5d</td>
								<td class="text-center">
									<div class="btn-group" role="group">
										<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<i class="glyphicon glyphicon-option-horizontal"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li class="dropdown-header"><a href="#">상세보기</a></li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">3</span>News</a>
											</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)"><span class="badge pull-right">1</span>Messages</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown-header">More</li>
											<li>
												<a tabindex="-1" href="javascript:void(0)">Edit Profile..</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END Partial Table -->
		</div>
		<!-- END Page Content -->
	</main>
	<!-- //main-container -->

	<!-- include : page-footer -->
	<% include include/page-footer.html %>
	<!-- //include : page-footer -->
</div>

<!-- Large Modal -->
<div class="modal" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="block block-themed block-transparent remove-margin-b">
				<div class="block-header bg-primary-dark">
					<ul class="block-options">
						<li>
							<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
						</li>
					</ul>
					<h3 class="block-title">업무추가</h3>
				</div>
				<div class="block-content">
					
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- END Large Modal -->

<!-- include : floor-js -->
<% include include/floor-js.html %>
<!-- //include : floor-js -->

<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>

<!-- Page JS Code -->
<script src="/js/pages/base_tables_datatables.js"></script>
</body>
</html>