<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include include/head-meta.html %>
<% include include/head-css.html %>
</head>

<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll">
<!-- include : page-header -->
<% include include/page-header.html %>
<!-- //include : page-header -->

	<!-- main-container -->
	<main id="main-container">
		<!-- Page Header -->
		<div class="content bg-image" style="background-image: url('/img/photos/photo8@2x.jpg');">
			<div class="push-50-t push-15 clearfix">
				<div class="push-15-r pull-left animated fadeIn">
					<img class="img-avatar img-avatar-thumb" src="/img/avatars/avatar13.jpg" alt="">
				</div>
				<h1 class="h2 text-white animated zoomIn">홍길동</h1>
				<h2 class="h5 text-white-op push-5-t animated zoomIn">퍼블리싱</h2>
			</div>
		</div>
		<!-- END Page Header -->

		<!-- Stats -->
		<div class="content bg-white border-b">
		</div>
		<!-- END Stats -->

		<!-- Page Content -->
		<div class="content">
			<ul class="news"></ul>
			<h2 class="content-heading">콘텐츠</h2>
			<div class="row">
				<div class="col-lg-3">
					<!-- Email Center Widget -->
					<div class="block block-bordered">
						<div class="block-header">
							<ul class="block-options">
								<li>
									<button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
								</li>
								<li>
									<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
								</li>
								<li>
									<button type="button" data-toggle="block-option" data-action="content_toggle"></button>
								</li>
							</ul>
							<h3 class="block-title">Email Center</h3>
						</div>
						<div class="block-content">
							<div class="pull-r-l pull-t push">
								<table class="block-table text-center bg-gray-lighter border-b">
									<tbody>
										<tr>
											<td class="border-r" style="width: 50%;">
												<div class="h1 font-w700">3</div>
												<div class="h5 text-muted text-uppercase push-5-t">New Messages</div>
											</td>
											<td>
												<div class="push-30 push-30-t">
													<i class="si si-envelope fa-3x text-black-op"></i>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="list-group">
								<a class="list-group-item active" href="javascript:void(0)">
									<span class="badge">3</span>
									<i class="fa fa-fw fa-inbox push-5-r"></i> Inbox
								</a>
								<a class="list-group-item" href="javascript:void(0)">
									<i class="fa fa-fw fa-send push-5-r"></i> Sent
								</a>
								<a class="list-group-item" href="javascript:void(0)">
									<i class="fa fa-fw fa-edit push-5-r"></i> Drafts
								</a>
								<a class="list-group-item" href="javascript:void(0)">
									<i class="fa fa-fw fa-archive push-5-r"></i> Archive
								</a>
								<a class="list-group-item" href="javascript:void(0)">
									<i class="fa fa-fw fa-trash push-5-r"></i> Trash
								</a>
							</div>
						</div>
					</div>
					<!-- END Email Center Widget -->
				</div>
				<div class="col-lg-9">
					<div class="">
						<!-- Author of the Month -->
						<a class="img-avatar img-avatar96 bg-gray text-center" style="padding:20px 0;color:#fff;font-size:20px" href="#">출근 <span style="display:block;">not yet</span></a>
						<a class="img-avatar img-avatar96 bg-city text-center" style="padding:20px 0;color:#fff;font-size:20px" href="#">출근 <span style="display:block;">8:00</span></a>
						<a class="img-avatar img-avatar96 bg-gray text-center" style="padding:20px 0;color:#fff;font-size:20px" href="#">퇴근 <span style="display:block;">not yet</span></a>
						<a class="img-avatar img-avatar96 bg-city text-center" style="padding:20px 0;color:#fff;font-size:20px" href="#">퇴근 <span style="display:block;">18:00</span></a>
						<!-- END Author of the Month -->
					</div>
					<div class="block-content">
						<div id="divRss"></div>
						<ul class="block list list-timeline pull-t">
							<!-- Twitter Notification -->
							<li>
								<div class="list-timeline-time">8:00</div>
								<i class="fa fa-twitter list-timeline-icon bg-info"></i>
								<div class="list-timeline-content">
									<p class="font-w600">+ 출근</p>
									<p class="font-s13">반영</p>
								</div>
							</li>
							<!-- END Twitter Notification -->

							<!-- Generic Notification -->
							<li>
								<div class="list-timeline-time">18:00</div>
								<i class="fa fa-briefcase list-timeline-icon bg-city"></i>
								<div class="list-timeline-content">
									<p class="font-w600">+ 퇴근</p>
									<p class="font-s13">FamilyDay!</p>
								</div>
							</li>
							<!-- END Generic Notification -->
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<!-- END Page Content -->
	</main>
	<!-- //main-container -->

	<!-- include : page-footer -->
	<% include include/page-footer.html %>
	<!-- //include : page-footer -->
</div>

<!-- include : floor-js -->
<% include include/floor-js.html %>
<!-- //include : floor-js -->

<script type="text/javascript">
	$(function () {
		 

	});
</script>

<script type="text/javascript">
// $.ajax({
//    url: './feedlist.json',
//    async: false,
//    dataType: 'json',
//    success: function (response) {
//        var items = [];
//        console.log(items.length);
//        $.each(response.news,function(i,item){
//            items.push('<li><ul><li class="title">'+ item.title +'</li><li>' + dateFormat(item.created_at,"fullDate") + '</li><li><p>'+ item.content +'</p></li></ul></li>');
//        });
//        $('.news').append(items.join(''));
//    }
// });


</script>
</body>
</html>
