<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Ground</title>
<!-- #include virtual="/assets/include/head-meta.html" -->
<!-- #include virtual="/assets/include/head-css.html" -->
</head>

<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
    <!-- include : page-header -->
    <!-- #include virtual="/assets/include/page-header.html" -->
    <!-- //include : page-header -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Header -->
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    <h1 class="page-heading">
                        Table Tools <small>Custom functionality to further enrich your tables.</small>
                    </h1>
                </div>
                <div class="col-sm-5 text-right hidden-xs">
                    <ol class="breadcrumb push-10-t">
                        <li>Tables</li>
                        <li><a class="link-effect" href="">Tools</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content content-boxed">
            <!-- Checkable Table (.js-table-checkable class is initialized in App() -> uiHelperTableToolsCheckable()) -->
            <div class="block">
                <div class="block-header">
                    <div class="block-options">
                        <code>.js-table-checkable</code>
                    </div>
                    <h3 class="block-title">Checkable Table</h3>
                </div>
                <div class="block-content">
                    <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
                    <table class="js-table-checkable table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 70px;">
                                    <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
                                        <input type="checkbox" id="check-all" name="check-all"><span></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th class="hidden-xs" style="width: 15%;">Access</th>
                                <th class="hidden-xs" style="width: 15%;">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_1" name="row_1"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Rebecca Reid</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-danger">Disabled</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 14, 2015 12:16</em>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_2" name="row_2"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Amanda Powell</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-danger">Disabled</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 17, 2015 12:16</em>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_3" name="row_3"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Amy Hunter</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-danger">Disabled</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 17, 2015 12:16</em>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_4" name="row_4"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Julia Cole</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-info">Business</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 1, 2015 12:16</em>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_5" name="row_5"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Donald Barnes</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-warning">Trial</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 24, 2015 12:16</em>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <label class="css-input css-checkbox css-checkbox-primary">
                                        <input type="checkbox" id="row_6" name="row_6"><span></span>
                                    </label>
                                </td>
                                <td>
                                    <p class="font-w600 push-10">Amber Walker</p>
                                    <p class="text-muted remove-margin-b">Customer details and further information</p>
                                </td>
                                <td class="hidden-xs">
                                    <span class="label label-warning">Trial</span>
                                </td>
                                <td class="hidden-xs">
                                    <em class="text-muted">June 14, 2015 12:16</em>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END Checkable Table -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <!-- include : page-footer -->
    <!-- #include virtual="/assets/include/page-footer.html" -->
    <!-- //include : page-footer -->
</div>
<!-- END Page Container -->

<!-- include : floor-js -->
<!-- #include virtual="/assets/include/floor-js.html" -->
<!-- //include : floor-js -->

<!-- Page JS Code -->
<script>
    $(function () {
        // Init page helpers (Table Tools helper)
        App.initHelpers('table-tools');
    });
</script>
</body>
</html>