<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Ground</title>
<!-- #include virtual="assets/include/head-meta.html" -->
<!-- #include virtual="assets/include/head-css.html" -->
<style>
	
</style>
</head>

<body>
<div id="page-container" class="sidebar-l sidebar-o side-scroll sidebar-mini">
	<!-- include : page-header -->
	<!-- #include virtual="/assets/include/page-header.html" -->
	<!-- //include : page-header -->

	<!-- main-container -->
	<main id="main-container">
		<!-- Page Header -->
		<div class="content bg-gray-lighter">
			<div class="row items-push">
				<div class="col-sm-7">
					<h1 class="page-heading">
						Todo <small>기쁨의 느낌 당신은 당신의 멋진 새 프로젝트를 시작할 때!</small>
					</h1>
				</div>
				<div class="col-sm-5 text-right hidden-xs">
					<ol class="breadcrumb push-10-t">
						<li>일반</li>
						<li><a class="link-effect" href="">빈페이지</a></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- END Page Header -->

		<!-- Page Content -->
		<div class="content">
			<div class="block">
                
            </div>
		</div>
		<!-- END Page Content -->
	</main>
	<!-- //main-container -->

	<!-- include : page-footer -->
	<!-- #include virtual="assets/include/page-footer.html" -->
	<!-- //include : page-footer -->
</div>

<!-- include : floor-js -->
<!-- #include virtual="assets/include/floor-js.html" -->
<!-- //include : floor-js -->
</body>
</html>