<nav id="sidebar">
	<!-- Sidebar Scroll Container -->
	<div id="sidebar-scroll">
		<!-- Sidebar Content -->
		<!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
		<div class="sidebar-content">
			<!-- Side Header -->
			<div class="side-header side-content bg-white-op">
				<button class="btn btn-link text-gray pull-right hidden-md hidden-lg" data-toggle="layout" data-action="sidebar_toggle" type="button">
					<i class="si si-close"></i>
				</button>
				<a class="h5 text-white" href="/src/index.html">
					<i class="fa fa-bookmark text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ground</span>
				</a>
			</div>
			<!-- END Side Header -->

			<!-- Side Content -->
			<div class="side-content">
				<ul class="nav-main">
					<li><a href="/src/index.html"><i class="si si-home"></i><span class="sidebar-mini-hide">Hi</span></a></li>
					
					<li class="nav-main-heading"><span class="sidebar-mini-hide">Human Resource</span></li>
					<li><a href="/src/human/todo.html"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Todo</span></a></li>
					<li><a href="/src/human/task.html"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Task</span></a></li>
					<!-- <li><a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Task</span></a>
						<ul>
							<li><a href="#">프로젝트1</a></li>
							<li><a href="#">프로젝트2</a></li>
						</ul>
					</li> -->
					<li><a href="/src/human/report.html"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Report</span></a></li>
					<li><a href="/src/human/calendar.html"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Calendar</span></a></li>

					<li class="nav-main-heading"><span class="sidebar-mini-hide">Approval Management</span></li>					
					<li><a href="/src/approval/approval.html"><i class="si si-calculator"></i><span class="sidebar-mini-hide">전자결재</span></a></li>
					<li><a href="/src/approval/payslip.html"><i class="si si-calculator"></i><span class="sidebar-mini-hide">급여명세서</span></a></li>
					<!-- <li><a href="#"><i class="si si-calculator"></i><span class="sidebar-mini-hide">연말정산</span></a></li>
					<li><a href="#"><i class="si si-calculator"></i><span class="sidebar-mini-hide">퇴직금계산</span></a></li>
					<li><a href="#"><i class="si si-calculator"></i><span class="sidebar-mini-hide">증명서신청</span></a></li> -->
					<li><a href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">조직정보</span></a></li>
					<li><a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-bubbles"></i><span class="sidebar-mini-hide">커뮤니티</span></a>
						<ul>
							<li><a href="board.html">공지사항</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">게시판</a></li>
						</ul>
					</li>
					<li><a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-bubbles"></i><span class="sidebar-mini-hide">바로가기</span></a>
						<ul>
							<li><a href="#">Github</a></li>
							<li><a href="#">JIRA</a></li>
							<li><a href="#">Wiki</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END Side Content -->
		</div>
		<!-- Sidebar Content -->
	</div>
	<!-- END Sidebar Scroll Container -->
</nav>